<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="fr">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Portail Laclasse.com">
        <meta name="author" content="">

        <link rel="apple-touch-icon" sizes="57x57" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/favicon-16x16.png">
        <link rel="manifest" href="<%=APP_PATH%>/app/vendor/laclasse-common-client/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="vendor/laclasse-common-client/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title><%= ENV[ 'RACK_ENV' ] == 'development' ? 'β' : '' %>Laclasse.com</title>

        <script type="text/javascript">
         if ( top != self ) top.location.replace( location );
        </script>

        <link href="<%=APP_PATH%>/app/vendor/angular-material/angular-material.min.css?v=<%=APP_VERSION%>" rel="stylesheet" />
        <link href="<%=APP_PATH%>/app/vendor/angular-material/angular-material.layouts.min.css?v=<%=APP_VERSION%>" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
             <script src="<%=APP_PATH%>/app/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
             <script src="<%=APP_PATH%>/app/https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
             <![endif]-->
    </head>

    <body>

        <div data-ng-app="statsApp" data-ng-controller="StatsCtrl" data-ng-strict-di layout="row" layout-wrap>
            <md-toolbar class="md-primary" layout="row">
                <md-select flex="10"
                           data-ng-model="period_types.selected"
                           data-ng-model-options="{trackBy: '$value.value'}"
                           data-ng-change="reset_period()">
                    <md-option data-ng-repeat="period_type in period_types.list" md-value="period_type.value">{{period_type.label}}</md-option>
                </md-select>
                <md-button data-ng-click="reset_period()"> ✕ </md-button>
                <md-button data-ng-click="decr_period()"> < </md-button>
                <md-button data-ng-click="incr_period()"> > </md-button>
                <h2>{{ debut | amDateFormat:'dddd Do MMMM YYYY' }} - {{ fin | amDateFormat:'dddd Do MMMM YYYY' }}</h2>
            </md-toolbar>

            <md-content>
                <md-card layout="row" layout-wrap>
                    <md-card-title flex="100">
                        <span class="md-headline">Statistiques Générales</span>
                    </md-card-title>

                    <md-card-content layout="row" layout-sm="column" layout-wrap>
                        <md-card flex="30" flex-sm="100" flex-md="50"
                                 data-ng-repeat="(metric, data) in stats.general"
                                 data-ng-if="data.bar_graph_data[0].values.length > 0">
                            <md-card-title flex="100">
                                <span class="md-headline">{{metric}}</span>
                            </md-card-title>
                            <md-card-content>
                                <nvd3-multi-bar-chart
                                    data-ng-if="metric == 'time_of_day' || metric == 'week_day'"
                                    data="data.bar_graph_data"
                                    margin="{left:50,top:20,bottom:100,right:20}"
                                    width="450"
                                    height="256"
                                    showXAxis="true"
                                    showYAxis="true"
                                    yAxisTickFormat="yAxisFormatFunction()"
                                    tooltips="true">
                                    <svg></svg>
                                </nvd3-multi-bar-chart>
                                <nvd3-multi-bar-horizontal-chart
                                    data-ng-if="metric != 'time_of_day' && metric != 'week_day'"
                                    data="data.bar_graph_data"
                                    margin="{left:150,top:20,bottom:20,right:50}"
                                    width="450"
                                    height="256"
                                    showXAxis="true"
                                    showYAxis="true"
                                    yAxisTickFormat="yAxisFormatFunction()"
                                    tooltips="true">
                                    <svg></svg>
                                </nvd3-multi-bar-horizontal-chart>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-card>

                <md-card layout="row" layout-wrap>
                    <md-card-title flex="100">
                        <span class="md-headline">Statistiques par Établissement</span>
                    </md-card-title>
                    <md-card-content layout="row" layout-wrap flex>
                        <md-tabs flex="100"
                                 md-dynamic-height
                                 class="md-primary md-hue-5">
                            <md-tab data-ng-repeat="etablissement in stats.uai"
                                    label="{{etablissement.uai}}"
                                    layout="row" layout-sm="column" layout-wrap>

                                <md-content class="md-padding" layout="row" layout-wrap flex="100">
                                    <md-card flex="30" flex-sm="100" flex-md="50"
                                             data-ng-repeat="(metric, data) in etablissement"
                                             data-ng-if="data.bar_graph_data[0].values.length > 0">
                                        <md-card-title flex="100">
                                            <span class="md-headline">{{metric}}</span>
                                        </md-card-title>
                                        <md-card-content>
                                            <nvd3-multi-bar-chart
                                                data-ng-if="metric == 'time_of_day' || metric == 'week_day'"
                                                data="data.bar_graph_data"
                                                margin="{left:50,top:20,bottom:100,right:20}"
                                                width="450"
                                                height="256"
                                                showXAxis="true"
                                                showYAxis="true"
                                                yAxisTickFormat="yAxisFormatFunction()"
                                                tooltips="true">
                                                <svg></svg>
                                            </nvd3-multi-bar-chart>
                                            <nvd3-multi-bar-horizontal-chart
                                                data-ng-if="metric != 'time_of_day' && metric != 'week_day'"
                                                data="data.bar_graph_data"
                                                margin="{left:150,top:20,bottom:20,right:50}"
                                                width="450"
                                                height="256"
                                                showXAxis="true"
                                                showYAxis="true"
                                                yAxisTickFormat="yAxisFormatFunction()"
                                                tooltips="true">
                                                <svg></svg>
                                            </nvd3-multi-bar-horizontal-chart>
                                        </md-card-content>
                                    </md-card>
                                </md-content>

                            </md-tab>
                        </md-tabs>
                    </md-card-content>
                </md-card>

                <md-card layout="row" layout-wrap>
                    <md-card-title flex="100">
                        <span class="md-headline">Statistiques par type d'utilisateur</span>
                    </md-card-title>
                    <md-card-content layout="row" layout-wrap flex>
                        <md-tabs flex="100"
                                 md-dynamic-height
                                 class="md-primary md-hue-5">
                            <md-tab data-ng-repeat="item in stats.user_type"
                                    label="{{item.user_type}}"
                                    layout="row" layout-sm="column" layout-wrap>

                                <md-content class="md-padding" layout="row" layout-wrap flex="100">
                                    <md-card flex="30" flex-sm="100" flex-md="50"
                                             data-ng-repeat="(metric, data) in item"
                                             data-ng-if="data.bar_graph_data[0].values.length > 0">
                                        <md-card-title flex="100">
                                            <span class="md-headline">{{metric}}</span>
                                        </md-card-title>
                                        <md-card-content>
                                            <nvd3-multi-bar-chart
                                                data-ng-if="metric == 'time_of_day' || metric == 'week_day'"
                                                data="data.bar_graph_data"
                                                margin="{left:50,top:20,bottom:100,right:20}"
                                                width="450"
                                                height="256"
                                                showXAxis="true"
                                                showYAxis="true"
                                                yAxisTickFormat="yAxisFormatFunction()"
                                                tooltips="true">
                                                <svg></svg>
                                            </nvd3-multi-bar-chart>
                                            <nvd3-multi-bar-horizontal-chart
                                                data-ng-if="metric != 'time_of_day' && metric != 'week_day'"
                                                data="data.bar_graph_data"
                                                margin="{left:150,top:20,bottom:20,right:50}"
                                                width="450"
                                                height="256"
                                                showXAxis="true"
                                                showYAxis="true"
                                                yAxisTickFormat="yAxisFormatFunction()"
                                                tooltips="true">
                                                <svg></svg>
                                            </nvd3-multi-bar-horizontal-chart>
                                        </md-card-content>
                                    </md-card>
                                </md-content>

                            </md-tab>
                        </md-tabs>
                    </md-card-content>
                </md-card>

            </md-content>

        </div>


        <!-- Bootstrap core JavaScript
             ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="<%=APP_PATH%>/app/vendor/underscore/underscore-min.js?v=<%=APP_VERSION%>"></script>
        <script src="<%=APP_PATH%>/app/vendor/moment/min/moment-with-locales.min.js?v=<%=APP_VERSION%>"></script>
        <script src="<%=APP_PATH%>/app/vendor/d3/d3.min.js?v=<%=APP_VERSION%>"></script>
        <script src="<%=APP_PATH%>/app/vendor/nvd3/nv.d3.min.js?v=<%=APP_VERSION%>"></script>

        <script src="<%=APP_PATH%>/app/vendor/angular/angular.js?v=<%=APP_VERSION%>"></script>
        <script src="<%=APP_PATH%>/app/vendor/angular-aria/angular-aria.js?v=<%=APP_VERSION%>"></script>
        <script src="<%=APP_PATH%>/app/vendor/angular-animate/angular-animate.js?v=<%=APP_VERSION%>"></script>
        <script src="<%=APP_PATH%>/app/vendor/angular-material/angular-material.js?v=<%=APP_VERSION%>"></script>
        <script src="<%=APP_PATH%>/app/vendor/angular-bootstrap/ui-bootstrap-tpls.js?v=<%=APP_VERSION%>"></script>
        <script src="<%=APP_PATH%>/app/vendor/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js?v=<%=APP_VERSION%>"></script>
        <script src="<%=APP_PATH%>/app/vendor/angular-moment/angular-moment.js?v=<%=APP_VERSION%>"></script>

        <script src="<%=APP_PATH%>/app/js/stats_app.js?v=<%=APP_VERSION%>"></script>
        <script>
         angular.module( 'statsApp' )
                .constant( 'APP_PATH', '<%=APP_PATH%>' );
        </script>
    </body>
</html>
